
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MUHIFA</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/scarves"> Scarves
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Viscoe</a></li>
          <li><a href="#">Jersey</a></li>
          <li><a href="#">Ombre</a></li>
          <li><a href="#">Embroidered</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Jewelry
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Chockers</a></li>
          <li><a href="#">Red Print</a></li>
          <li><a href="#">Green Print</a></li>
          <li><a href="#">Purple Print</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Wraps
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Hindi Dhaqan</a></li>
          <li><a href="#">Red Print</a></li>
          <li><a href="#">Green Print</a></li>
          <li><a href="#">Purple Print</a></li>
        </ul>
      </li>
      <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
      <div id="rightLinks">
        <a href="/login"><button class="btn btn-primary" type="button" name="account">Account</button></a>
        <a href="/profile"><button class="btn btn-info" type="button" name="account">Profile</button></a>
        <button ng-click = "home.logout()" class="btn btn-danger" type="button" name="button">Log Out</button>
        <!-- Used for cart counter -->
        <a href="/cart"><button class="btn btn-success" type="button" name="cart">Cart ({{cart.cartScarves.length}})</button></a>
      </div>
    </ul>
  </div>
</nav>

<h2>Shopping Bag ({{cart.cartScarves.length}})</h2>
<div id="cartData" ng-repeat="item in cart.cartScarves track by $index">
  <p><img ng-src="{{item.image_url}}" alt="" /></p>
  <ul>
    <li>Name: {{item.name}} </li>
    <li>Color: {{item.color}}</li>
    <li>Description: {{item.type}} {{item.description}} {{item.material}}</li>
    <li>{{item.price}}</li>
    <button ng-click="cart.deleteProduct(item.id)" class="btn btn-danger" type="button" name="delete">Remove</button>
  </ul>
</div>

<div id="orderSummary">
  <h4>Order Summary:</h4>
  <ul>
    <li>Subtotal:{{cart.cartScarves.sum()}}</li>
    <li>sales tex: </li>
    <li>shipping: $4.99</li>
    <li id="total">Total:</li>
  </ul>
  <button ng-click="" class="btn btn-success" type="button" name="delete">CHECKOUT</button>


  <form action="/your-server-side-code" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_xvujit22lAuFFZRdR6p6oMpP"
    data-amount="999"
    data-name="Demo Site"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="true">
  </script>
</form>

  <!-- <p ng-repeat="config in cart.paypalConfig">
    {{paypalConfig}}

  </p> -->


</div>










<!-- <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="hosted_button_id" value="34VVC4VRFMA66">
<table>
  <img ng-src="images/ombre.maroon.teal.navy.png" alt="Ombre set of 3" />
<tr><td><input type="hidden" name="on0" value="Ombre Scarf">Ombre Scarf</td></tr><tr><td><select name="os0">
	<option value="Navy/Cream">Navy/Cream $6.00 USD</option>
	<option value="Black/Teal">Black/Teal $6.00 USD</option>
	<option value="Maroon/Cream">Maroon/Cream $6.00 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>






<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="KWJWQNGJPAHQC">
<table>
  <img ng-src="images/embroidered.png" alt="All embroidered" />
<tr><td><input type="hidden" name="on0" value="Embroidered Scarf">Embroidered Scarf</td></tr><tr><td><select name="os0">
	<option value="Black">Black $10.00 USD</option>
	<option value="Navy Blue">Navy Blue $10.00 USD</option>
	<option value="Green">Green $10.00 USD</option>
	<option value="Maroon">Maroon $10.00 USD</option>
	<option value="Cream/Black">Cream/Black $10.00 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>



<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="R4MUFGZNA9WN8">
<table>
  <img ng-src="images/jersey.png" alt="All jersey" />
<tr><td><input type="hidden" name="on0" value="Jersey">Jersey</td></tr><tr><td><select name="os0">
	<option value="Pink">Pink $8.00 USD</option>
	<option value="Gray">Gray $8.00 USD</option>
	<option value="Aqua Blue">Aqua Blue $8.00 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form> -->
