

<h2>Shopping Bag ({{cart.cartScarves.length}})</h2>
<div id="cartData" ng-repeat="item in cart.cartScarves track by $index">
  <p><img ng-src="{{item.image_url}}" alt="" /></p>
  <ul>
    <li>Name: {{item.name}} </li>
    <li>Color: {{item.color}}</li>
    <li>Description: {{item.type}} {{item.description}} {{item.material}}</li>
    <li>{{item.price}}</li>
    <button ng-click="cart.deleteProduct(item.id)" class="btn btn-danger" type="button" name="delete">Remove</button>
  </ul>
</div>

<!-- <div id="orderSummary">
  <h4>Order Summary:</h4>
  <ul>
    <li>Subtotal:{{cart.cartScarves.sum()}}</li>
    <li>sales tex: </li>
    <li>shipping: $4.99</li>
    <li id="total">Total:</li>
  </ul>
  <button ng-click="" class="btn btn-success" type="button" name="delete">CHECKOUT</button> -->
