<h1>Home</h1>

<a href="/account">Account</a>
<button ng-click = "home.logout()" class="btn btn-danger" type="button" name="button">Log Out</button>

<!-- On the top left will be links to social media accounts with
their corresponding icons -->

<!-- On the top right will be a drop down search button, account tab, and cart info
with current cart qty -->
<br />
<a href="/scarves">Scarves</a>
<a href="/scarves">Jewelry</a>
<a href="/scarves">Wraps</a>

<!-- Middle will be a slide show of products -->


<footer>

<h4><a href="/customerService">Customer Service</a></h4>
<ul>
  <a href="/contact"><li>Contact Us</li></a>
  <a href="/shipping"><li>Shipping Info</li></a>
  <a href="/returns"><li>Returns</li></a>
</ul>
<h4><a href="/aboutUs">About Us</a></h4>
<ul>
  <a href="/about"><li>About Muhifa</li><a>
  <a href="/faq"><li>FAQs</li></a>
</ul>
<h4>Stay Connected</h4>
<!-- links to social media accts with their corresponding icons -->
</footer>
