<h2>Home</h2>
<div id="rightLinks">
  <a href="/login"><button class="btn btn-primary" type="button" name="account">Account</button></a>
  <a href="/profile"><button class="btn btn-info" type="button" name="account">Profile</button></a>
  <button ng-click = "home.logout()" class="btn btn-danger" type="button" name="button">Log Out</button>
  <br />
  <a href="/cart">Cart (0)</a>
</div>

<!-- On the top left will be links to social media accounts with
their corresponding icons -->

<!-- On the top right will be a drop down search button, account tab, and cart info
with current cart qty -->
<br />
<div id="products">
  <label for="scarves">Scarves:</label>
  <select id="scarve-options" name="id" type="text"></select>
  <a href="/scarves">Scarves</a>
  <a href="/scarves">Jewelry</a>
  <a href="/scarves">Wraps</a>
</div>

<br />

<!-- Middle will be a slide show of products -->
<div id="productImages">
  <img ng-src="images/ombre.maroon.teal.navy.png" alt="Ombre set of 3" />
  <img ng-src="images/pink.jersey.png" alt="Pink Jersey" />
  <img ng-src="images/embroidered.png" alt="All embroidered" />
  <img ng-src="images/sal.png" alt="Viscoe Turbans" />
  <img ng-src="images/viscoe1.jpg" alt="Viscoe 1 set" />
  <button ng-click="cart.add()" class="btn btn-success" type="button" name="add">Add to Cart</button>

</div>






<footer>
<div id="customerService">
  <h4><a href="/customerService">Customer Service</a></h4>
  <ul>
    <a href="/contact"><li>Contact Us</li></a>
    <a href="/shipping"><li>Shipping Info</li></a>
    <a href="/returns"><li>Returns</li></a>
  </ul>
</div>
<div id="aboutUs">
  <h4><a href="/aboutUs">About Us</a></h4>
  <ul>
    <a href="/about"><li>About Muhifa</li><a>
    <a href="/faq"><li>FAQs</li></a>
  </ul>
</div>

<h4>Stay Connected</h4>
<!-- links to social media accts with their corresponding icons -->
</footer>
