

<!-- Middle will be a slide show of products -->
<div id="productImages" class="slider">
  <p class="tip">Shop</p>
  <div class="paused">paused</div>
  <div class="content">
    <ul>
      <li class="slidepic"><img ng-src="images/pink.jersey.png" alt="Pink Jersey" /> </li>
      <li class="slidepic"><img ng-src="images/ombre.maroon.teal.navy.png" alt="Ombre set of 3" /></li>
      <li class="slidepic"><img ng-src="images/embroidered.png" alt="All embroidered" /> </li>
      <li class="slidepic"><img ng-src="images/sal.png" alt="Viscoe Turbans" /> </li>
      <li class="slidepic"><img ng-src="images/viscoe1.jpg" alt="Viscose 1 set" /></li>
      <li class="slidepic"><img ng-src="images/more.viscose.jpg" alt="Visose 2 set" /></li>
    </ul>
  </div>
</div>







<footer>
<div id="customerService">
  <h4>Customer Service</h4>
  <ul>
    <a href="/contact"><li>Contact Us</li></a>
    <a href="/shipping"><li>Shipping Info</li></a>
    <a href="/returns"><li>Returns</li></a>
  </ul>
</div>
<div id="aboutUs">
  <h4>About Us</h4>
  <ul>
    <a href="/about"><li>About Muhifa</li><a>
    <a href="/faq"><li>FAQs</li></a>
  </ul>
</div>
<div id="stayConnected">
  <h4>Stay Connected</h4>
  <!-- links to social media accts with their corresponding icons -->
  <ul class="social-icons">
  <li class="icon icon--facebook">
    <a href="https://www.facebook.com/muhifa.scarves1?fref=ts">
      <span class="icon__name">Facebook</span>
    </a>
  </li>
  <li class="icon icon--twitter">
    <a href="#">
      <span class="icon__name">Twitter</span>
    </a>
  </li>
  <li class="icon icon--instagram">
    <a href="https://www.instagram.com/muhifa/?hl=en">
      <span class="icon__name">Instagram</span>
    </a>
  </li>
  </ul>
</div>

</footer>
