<h2>SEARCH:</h2>

<p id="search">
  Your search for "<strong>{{home.results.key}}</strong>" returned (<strong>{{home.results.results.length}}</strong>) results
</p>

<div id="scarves">


  <div id="scarf" ng-repeat="scarf in home.results.results track by $index">
    <p><img ng-src="{{scarf.image_url}}" alt="search results" /></p>
    <p>{{scarf.name}} {{scarf.color}}</p>
    <p>{{scarf.price | currency}}</p>
    <button ng-click="home.postSearchResults(scarf)" class="btn btn-success" type="button" name="add">Add to Cart</button>
  </div>








</div>
