img{
	height: 250px;
	width: 250px;
}
h1{
	font-family: 'Cinzel', serif;
	text-align: center;
	color: purple;
	font-size: 80px;
	text-transform:full-width;
}
#rightLinks{
	float: right;
}
form{
	display:inline-table;
}
