img{
	height: 250px;
	width: 250px;
}
h1{
	font-family: 'Cinzel', serif;
	text-align: center;
	color: purple;
	font-size: 80px;
	text-transform:full-width;
}
#rightLinks{
	float: right;
}
form{
	display:inline-table;
}
#scarves{

}
#scarf{
	font-family: 'Lobster', cursive;
	text-align: center;
	border: 3px solid white;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 24px;
}
.blush{

}
li{
	list-style: none;
}
#cartData{
	text-align: center;
	display: inline-block;
}
h2{
	font-family: 'Lobster', cursive;
	text-decoration: underline;
	color: purple;
}
